.fc-snor-hidden-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    width: fit-content;
    margin: 0 0 0 auto;
    padding: 12px 24px;
    box-sizing: border-box;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #2d668c;
    cursor: pointer;
}
.fc-snor-hidden-label::after {
    content: '';
    width: 60px;
    height: 60px;
    border: 1px solid #2d668c;
    border-radius: 50%;
}
.fc-snor-hidden-label::before {
    content: '';
    width: 19px;
    height: 19px;
    border: 1px solid #2d668c;
    border-width: 1px 1px 0 0;
    position: absolute;
    right: 45px;
    top: 28px;
    transform: rotate(135deg);
    transition: top .3s ease-out;
}
.fc-snor-hidden-label:hover::before {
    top: 38px
}
.fc-snor-hidden-trigger:checked + .fc-snor-hidden-label::before  {
    top: 37px;
    transform: rotate(315deg);
}
.fc-snor-hidden-trigger:checked + .fc-snor-hidden-label:hover::before {
    top: 28px
}
.fc-snor-hidden-trigger {
    display: block;
    position: fixed;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
}

.fc-snor-hidden-trigger ~ .fc-snor-hidden-content {
    max-height: 0;
    transition: max-height .3s ease-out;
    overflow: hidden;
}
.fc-snor-hidden-trigger:checked ~ .fc-snor-hidden-content {
    max-height: 2000px;
    transition: max-height .6s ease-in;
}