.fc-reis-info-box-main {
    border: 1px solid #05809e;
    padding: 40px 50px;
    box-sizing: border-box;
    position: relative;
    font-weight: 500;
}
.fc-reis-info-box-main.has-background {
    border: none;
    border-radius: 8px;
}
.fc-reis-info-box-main.alignwide {
    max-width: 720px !important;
}
@media(max-width:991px) {
    .fc-reis-info-box-main.alignwide {
        max-width: 520px !important;
    }
}
@media(max-width:767px) {
    .fc-reis-info-box-main {
        width: 85%;
        padding: 20px 25px;
        font-size: 90%;
    }
}

.fc-reis-info-box-main::after {
    content: "";
    position: absolute;
    left: -17px;
    bottom: -17px;
    width: 70px;
    height: 70px;
    background: url("data:image/svg+xml,%3Csvg width='69' height='69' viewBox='0 0 69 69' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.5 69C53.5559 69 69 53.5559 69 34.5C69 15.4441 53.5559 0 34.5 0C15.4441 0 0 15.4441 0 34.5C0 53.5559 15.4441 69 34.5 69ZM29.1094 45.2812H32.3438V36.6562H29.1094C27.317 36.6562 25.875 35.2143 25.875 33.4219C25.875 31.6295 27.317 30.1875 29.1094 30.1875H35.5781C37.3705 30.1875 38.8125 31.6295 38.8125 33.4219V45.2812H39.8906C41.683 45.2812 43.125 46.7232 43.125 48.5156C43.125 50.308 41.683 51.75 39.8906 51.75H29.1094C27.317 51.75 25.875 50.308 25.875 48.5156C25.875 46.7232 27.317 45.2812 29.1094 45.2812ZM34.5 25.875C32.1146 25.875 30.1875 23.9479 30.1875 21.5625C30.1875 19.1771 32.1146 17.25 34.5 17.25C36.8854 17.25 38.8125 19.1771 38.8125 21.5625C38.8125 23.9479 36.8854 25.875 34.5 25.875Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat 50%;
    background-size: contain;
}

.fc-reis-info-box-main > *:first-child {
    margin-top: 0 !important;
}
.fc-reis-info-box-main > *:last-child {
    margin-bottom: 0 !important;
}