.fct-images-decor {
    --radius: 2.5vw;
    --sepia: 0;
    --maxwidth: 800px;
}

.fct-images-decor {
    width: calc(50vw - var(--wp--style--block-gap ));
    height: 100%;
    max-height: calc(var(--maxwidth) * 1.2);
    position: absolute;
    inset: auto 0 auto auto;
    overflow: hidden;
}

.fct-images-decor-inner {
    width: calc(100% + var(--radius));
    max-width: var(--maxwidth);
    height: 93%;

    display: grid;
    grid-template-areas:
        "image1 image1 ."
        "image1 image1 image2"
        ". . image2"
        "image3 . image2"
        "image3 . ."
        "image3 image4 image4"
        ". image4 image4";
    grid-template-columns: 34% 11% 41%;
    grid-template-rows:
    12%
    16%
    10%
    9%
    14%
    9%
    30%;
    grid-gap: 0 7%;
}

.fct-images-decor-inner figure {
    position: relative;
}

.fct-images-decor-inner figure img,
.fct-images-decor-inner figure span {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    border-radius: var(--radius);
    filter: sepia(var(--sepia));
    background-color: var(--wp--preset--color--tertiary);
}

.fct-images-decor-inner figure figcaption {
    position: absolute;
    top: calc(100% + 10px);
    z-index: 1;
}

.fct-images-decor-inner figure:nth-child(1) { grid-area: image1 }
.fct-images-decor-inner figure:nth-child(2) { grid-area: image2 }
.fct-images-decor-inner figure:nth-child(3) { grid-area: image3 }
.fct-images-decor-inner figure:nth-child(4) { grid-area: image4 }

@media( max-width: 781px ) {
    .fct-images-decor {
        position: static;
        width: 100%;
        height: 120vw;
    }
    .fct-images-decor-inner {
        width: 100%;
    }
}

/* ++ different number of images */