/* */
[class*="fct-core-group-curve-"] {
    position: relative;
}

[class*="fct-core-group-curve-"]::before {
    content: '';
    position: absolute;
    z-index: 0;
    inset: 0 0 -1px 0;
    mask-image: var(--curve);
    -webkit-mask-image: var(--curve);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: 0 100%;
    -webkit-mask-position: 0 100%;
    mask-size: 100% auto;
    -webkit-mask-size: 100% auto;
    pointer-events: none;
}

.fct-core-group-curve-1::before {
    --curve: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 160' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath stroke='none' fill='black' d='M 0,0 V 161 H 512 V 138.6 C 252.3,207.1 83.4,93.4 0,0 Z'/%3E%3C/svg%3E");
    background-color: var(--wp--preset--color--base);
}

.fct-core-group-curve-2::before {
    --curve: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 160' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath stroke='none' fill='black' d='M 512,0 V 160 H 0 V 137.7 C 260,205.8 428.5,92.8 512,0 Z'/%3E%3C/svg%3E");
    background-color: var(--wp--preset--color--base);
}

.fct-core-group-curve-3::before {
    --curve: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 127' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath stroke='none' fill='black' d='M 56,9 C 37,9 18.8,9.7 0,10.8 V 127 H 512 C 397.5,67 235,10.5 56,9.3 Z'/%3E%3C/svg%3E");
    background: var(--wp--preset--gradient--tertiary-back);
}

.fct-core-group-curve-4::before {
    --curve: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 300' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='none' fill='black' d='M 512,122 V 300 H 0 V 137.60143 C 122.73296,166.41339 349.42456,167.01185 512,122 Z'/%3E%3C/svg%3E");
    background-color: var(--wp--preset--color--base);
}

.fct-core-group-curve-5::before {
    --curve: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 300' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='none' fill='black' d='M 512,122 V 300 H 0 V 137.60143 C 122.73296,166.41339 349.42456,167.01185 512,122 Z'/%3E%3C/svg%3E");
    --curve: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 40'  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='none' fill='black' d='M 512,0 V 40 H 0 V 15.97994 C 122.73296,45.49091 349.42456,46.10389 512,0 Z'/%3E%3C/svg%3E");
    background-color: var(--wp--preset--color--base);
}

/* */
.fct-core-group-shadow {
    box-shadow: var(--wp--preset--shadow--common);
}