.fct-cropped-height-main {
    --height: 300px;
    --max-height: 2000px;
    --button-ending: url("data:image/svg+xml,%3Csvg width='21' height='13' viewBox='0 0 21 13' fill='none' version='1.1' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath d='M18.75 2.25L10.25 10.75L1.75 2.25' stroke='%23e6c18f' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --button-bias: 50px;
    --text-gap: calc(var(--gradient-height) / 2);
    --hover-padding: 10px;
    --gradient-height: 50px;
    position: relative;
    height: var(--height);
    padding-bottom: var(--button-bias);
    box-sizing: content-box;
    transition: padding-bottom 0.3s ease;
}

.fct-cropped-height-main > .block-editor-inner-blocks {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: var(--height);
    max-height: var(--height);
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/*.is-selected > .fct-cropped-height-main > .block-editor-inner-blocks*/
.has-child-selected > .fct-cropped-height-main > .block-editor-inner-blocks {
    z-index: 11;
    max-height: var(--max-height);
    background-color: var(--wp--preset--color--base);
    left: calc(0px - var(--hover-padding));
    width: calc(100% + (var(--hover-padding) * 2));
    top: calc(0px - var(--hover-padding));
    padding: var(--hover-padding);
    box-shadow: var(--wp--preset--shadow--common);
    transition: max-height 0.6s ease;
}

.fct-cropped-height-main > .block-editor-inner-blocks::after {
    content: '';
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: var(--gradient-height);
    background: linear-gradient(0deg, #fff 30%, #fff7 90%, #fff2 100%);
    transition: bottom 0.4s ease;
    pointer-events: none;
}
.has-child-selected > .fct-cropped-height-main > .block-editor-inner-blocks::after {
    bottom: calc(0 - var(--gradient-height));
}

.fct-cropped-height-main .block-editor-block-list__layout > *:first-child {
    margin-top: 0;
}
.fct-cropped-height-main .block-editor-block-list__layout > *:last-child {
    margin-bottom: 0;
}

.fct-cropped-height-main button {
    appearance: none;
    border: none;
    padding: 10px 3px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: var(--wp--preset--color--base);
    font-size: var(--wp--preset--font-size--small);
    color: var(--wp--preset--color--contrast);
    pointer-events: none;
    letter-spacing: 0.5px;
}

.fct-cropped-height-main button::after {
    content: var(--button-ending);
    margin: 0 8px;
}

.has-child-selected > .fct-cropped-height-main > button {
    display: none;
}