/* noscript with css to keep opened */
.fct-cropped-height {
    --height: 300px;
    --max-height: 800px;
    --button-ending: url("data:image/svg+xml,%3Csvg width='21' height='13' viewBox='0 0 21 13' fill='none' version='1.1' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath d='M18.75 2.25L10.25 10.75L1.75 2.25' stroke='%23e6c18f' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --button-bias: 32px;
    --hover-padding: 30px;
    --gradient-height: 70px;
    position: relative;
    height: var(--height);
    padding-bottom: var(--button-bias);
    box-sizing: content-box;
}
@media ( max-width: 599px ) {
    .fct-cropped-height {
        --hover-padding: 20px;
    }
}

.fct-cropped-height-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: var(--height);
    max-height: var(--height);
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.fct-cropped-height-inner::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--gradient-height);
    background: linear-gradient(0deg, #fff 30%, #fff7 90%, #fff2 100%);
    pointer-events: none;
}

.fct-cropped-height-inner > *:first-child {
    margin-top: 0;
}
.fct-cropped-height-inner > *:last-child {
    margin-bottom: 0;
}

.fct-cropped-height button {
    appearance: none;
    margin-left: -9px;
    border: 1px solid white;
    width: 100%;
    padding: 10px 10px 8px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background: var(--wp--preset--color--base);
    text-align: left;
    font-size: var(--wp--preset--font-size--small);
    letter-spacing: 0.5px;
    color: var(--wp--preset--color--contrast);
    cursor: pointer;
}
.fct-cropped-height button::after {
    content: ' ' var(--button-ending);
}
.fct-cropped-height button:not(:empty)::after {
    margin-left: 8px;
}
.fct-cropped-height button:hover {
    border:1px dotted var(--wp--preset--color--contrast);
}