[data-type='fc-gutenberg-blocks/reis-badged-box'] {
    max-width: 680px !important;
    border-radius: 8px !important;
    padding: 30px 30px 30px 120px;
    box-sizing: border-box;
    position: relative;
}

.fc-reis-badged-box-main .select-image {
    width: 140px;
    height: auto;
    min-height: 140px;
    position: absolute;
    left: -40px;
    top: -45px;
    z-index: 1;
    text-align: center;
}
.fc-reis-badged-box-main .select-image.empty-image {
    background-color: #fff;
    border: 1px dotted grey;
}
.fc-reis-badged-box-main .select-image > img,
.fc-reis-badged-box-main .select-image > span {
    width: 140px;
    height: auto;
}
.fc-reis-badged-box-main button.clear-image {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 22222;
    appearance: none;
    font-size: 20px;
    line-height: 1;
    border-radius: 50%;
    border: none;
    transform: rotate(45deg);
    cursor: pointer;
}
.fc-reis-badged-box-main button.clear-image:hover {
    color: red;
}

.fc-reis-badged-box-main *:first-child {
    margin-top: 0 !important;
}
.fc-reis-badged-box-main *:last-child {
    margin-bottom: 0 !important;
}