.fc-reis-badged-box-main {
    max-width: 680px !important;
    border-radius: 8px !important;
    padding: 30px 30px 30px 120px;
    box-sizing: border-box;
    position: relative;
}

.fc-reis-badged-box-image {
    width: 140px;
    height: auto;
    min-height: 140px;
    position: absolute;
    left: -40px;
    top: -45px;
    z-index: 1;
}
@media(max-width:767px) {
    .fc-reis-badged-box-main {
        padding: 25px;
    }
    .fc-reis-badged-box-image {
        position: static;
    }
}
.fc-reis-badged-box-image > img {
    width: 140px;
    height: auto;
}

.fc-reis-badged-box-main *:first-child {
    margin-top: 0 !important;
}
.fc-reis-badged-box-main *:last-child {
    margin-bottom: 0 !important;
}