.fcp-group-tiles {
    --color-main:#1e293b;
    --color-sub:#ffffff;
}

.fcp-group-tiles .block-editor-block-list__layout {
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
    justify-content:space-around;
}

.fcp-group-tiles [data-type^="fcp-gutenberg/tile"] {
    width:100%;
}
.fcp-group-tiles[data-rows="2"] [data-type^="fcp-gutenberg/tile"] {
    width:calc( 50% - 10px );
}
.fcp-group-tiles[data-rows="3"] [data-type^="fcp-gutenberg/tile"],
.fcp-group-tiles[data-rows="4"] [data-type^="fcp-gutenberg/tile"],
.fcp-group-tiles[data-rows="5"] [data-type^="fcp-gutenberg/tile"],
.fcp-group-tiles[data-rows="6"] [data-type^="fcp-gutenberg/tile"] {
    width:calc( 33.333% - 15px );
}

.is-fullscreen-mode .fcp-group-tiles[data-rows="4"] [data-type^="fcp-gutenberg/tile"],
.is-fullscreen-mode .fcp-group-tiles[data-rows="5"] [data-type^="fcp-gutenberg/tile"],
.is-fullscreen-mode .fcp-group-tiles[data-rows="6"] [data-type^="fcp-gutenberg/tile"] {
    width:calc( 25% - 20px );
}