.heading-decorated {
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 20px;
}
.heading-decorated::after {
    content: '';
    width: 165px;
    border-bottom: 1px solid #f29400;
    position: absolute;
    bottom: 0;
    left: 0;
}
.heading-decorated.has-text-align-center::after {
    left: 50%;
    transform: translate(-50%);
}
.heading-decorated.has-text-align-right::after {
    left: auto;
    right: 0;
}