.fc-snor-group-imaged-main {
    --backgroundImage: none;
}

.fc-snor-group-imaged-main .select-image {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}
.fc-snor-group-imaged-main .select-image.empty-image {
    border: 1px dotted grey;
}
.fc-snor-group-imaged-main .select-image:not(.empty-image) {
    padding: 0;
}
.fc-snor-group-imaged-main .select-image > img,
.fc-snor-group-imaged-main .select-image > span {
    width: 100%;
    height: auto;
}
.fc-snor-group-imaged-main button.clear-image {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    appearance: none;
    font-size: 20px;
    line-height: 1;
    border-radius: 50%;
    border: none;
    transform: rotate(45deg);
    cursor: pointer;
}
.fc-snor-group-imaged-main button.clear-image:hover {
    color: red;
}