.post-tiles {
    --hgap: 30px;
    --cols: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px var(--hgap);
}

@media (max-width: 1170px) {
    .post-tiles {
        padding: 0 20px;
    }
}
@media (max-width: 980px) {
    .post-tiles {
        --cols: 2;
    }
}
@media (max-width: 670px) {
    .post-tiles {
        --cols: 1;
    }
}

.post-tiles > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc((100% / var(--cols)) - ((var(--hgap) * (var(--cols) - 1) / var(--cols))));
}

.post-tile-image {
    display: block;
    position: relative;
    aspect-ratio: 1 / 1;
    background-color: #fff4eb;
}
@media (max-width: 670px) {
    .post-tile-image {
        aspect-ratio: 3 / 2;
    }
}
.post-tile-image::after {
    content: '';
    position: absolute;
    inset: auto -1px -1px -1px;
    height: 30%;
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 97%,#fff 100%)
}
.post-tile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.post-tile-content h3,
.post-tile-content h3 a {
    margin-top: 5px;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #38393b;
}

.post-tile-excerpt {
    height: 88px;
    overflow: hidden;
}