.background-decor {
    --top: 35px;
    --left: 80px;
    margin-top: var(--top);
    padding-top: var(--top);
    padding-top: calc(var(--top) / 2);
    padding-bottom: calc(var(--top) / 2);
    position: relative;
}
.background-decor::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc( var(--wp--style--global--content-size) + var(--left) + var(--left) );
    height: 100%;
    background: var(--wp--preset--gradient--secondary-back);
    transform: translate(calc(0px - var(--left)), calc(0px - var(--top)));
}