.fcp-group-tiles {
    border:1px dotted #444;
    padding:10px;
}

/* aligning tiles inside the group */

.fcp-group-tiles .block-editor-block-list__layout {
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
    justify-content:space-around;
}

.fcp-group-tiles [data-type] {
    width:calc( 33.333% - 6.667px );
}
.fcp-group-tiles [data-rows="2"] [data-type] {
    width:calc( 50% - 10px );
}