/* initial form to avoid cls */
.fcp-tile-team-member {
    --height:110%;
}
.fcp-tile-team-member {
    margin-bottom:30px;
    position:relative;
    border:1px solid var(--color-main);
    box-sizing:border-box;
    padding-bottom:var(--height);
    overflow:hidden;
    color:var(--color-sub);
}

/* appearing effects */
.fcp-tile-team-member {
    transition:opacity 0.7s ease-out, transform 0.6s ease-out;
}