.heading-decorated {
    position: relative;
    padding-bottom: 12px;
}
.heading-decorated::after {
    content: '';
    width: 75px;
    border-bottom: 2px solid currentColor;
    position: absolute;
    bottom: 0;
    left: 0;
}
.heading-decorated.has-text-align-center::after {
    left: 50%;
    transform: translate(-50%);
}
.heading-decorated.has-text-align-right::after {
    left: auto;
    right: 0;
}
.text-shadow {
    text-shadow: 0 3px 3px #3333338f;
}