.fcp-sequence {
    display:flex;
    align-items:stretch;
    justify-content:space-between;
    width:100%;
    margin:70px 0;
    position:relative;
}

.fcp-sequence + .fcp-sequence {
    margin-top:0;
}

.fcp-sequence > * {
    margin:0 16px;
}

.fcp-sequence .fcp-s-number {
    flex:0 0 100px;
    margin-left:0;
	height:100px;
	padding-top:19px;
	border:2px solid #bbd3cb;
	box-sizing:border-box;
	border-radius:50%;
    font-size:60px;
	line-height:1;
	text-align:center;
	color:#5d9783;
}
.fcp-sequence .fcp-s-title {
    flex-basis:35%;
	text-align:center;
}
.fcp-sequence .fcp-s-title > * {
    margin:0;
	padding:0;
    line-height:1.4;
}
.fcp-sequence .fcp-s-content {
    flex-basis:65%;
    margin-right:0;
}

.fcp-sequence + .fcp-sequence::before,
.fcp-sequence + .fcp-sequence::after {
    content:'';
    display:block;
    height:22px;
    position:absolute;
    top:-50px;
    border:2px solid #5d9783;
}
.fcp-sequence + .fcp-sequence::before {
    width:calc( 100px + 17.5% );
    left:0;
    border-width:2px 1px 0 0;
    border-radius:0 22px 0 0;
}
.fcp-sequence + .fcp-sequence::after {
    width:50%;
    left:calc( 100px + 17.5% );
    border-width:1px 0 0 2px;
    border-radius:26px 0 0 0;
}

@media screen and (max-width:679px) {
    .fcp-sequence {
        flex-wrap:wrap;
        justify-content:flex-start;
        align-items:center;
    }
    .fcp-sequence .fcp-s-number {
        
    }
    .fcp-sequence .fcp-s-title {
        flex-basis:calc( 100% - 150px );
		margin-right:0;
        text-align:left;
    }
    .fcp-sequence .fcp-s-content {
        flex-basis:100%;
        margin:16px 0 10px;
    }
    
    .fcp-sequence + .fcp-sequence::before {
        width:50%;
        left:0;
    }
    .fcp-sequence + .fcp-sequence::after {
        width:50%;
        left:50%;
    }
}