.fcp-tile-team-member {
    --height:110%;
}
.fcp-tile-team-member {
    position:relative;
    border:1px solid var(--color-main);
    box-sizing:border-box;
    color:var(--color-sub);
    overflow:hidden;
    padding-bottom:var(--height);
}

.fcp-tile-team-member-image,
.fcp-tile-team-member-link,
.fcp-tile-team-member-content {
    position:absolute;
    top:0; right:0; bottom:0; left:0;
    z-index:0;
}
.fcp-tile-team-member-link {
    z-index:1;
}

.fcp-tile-team-member-image img {
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center top;
}

.fcp-tile-team-member-content {
    top:auto;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:12px;
    box-sizing:border-box;
    background-color:var(--color-main);
    text-align:center;

    text-decoration:none!important;
    font-size:20px;
    font-weight:100;
    color:var(--color-sub)!important;
}
.fcp-tile-team-member-content:empty {
    padding:0;
}
.fcp-tile-team-member-content p {
    margin:20px 0 0!important;
    padding:0!important;
    font-size:70%;
}