.fcp-tile-team-member {
    --color-main:#5d9783;
    --color-sub:#86b1a2;
    --color-neut:#bfbfbf;
    --color-back:#fff;
}

.fcp-tile-team-member,
.fcp-tile-team-member-image,
.fcp-tile-team-member-title {
    border:3px solid var(--color-main);
    box-sizing:border-box;
    border-radius:12px;
    padding:24px;

    display:flex;
    flex-wrap:wrap;
}