.fcp-tile-team-member {
    --height:110%;
}
.fcp-tile-team-member {
    position:relative;
    border:1px solid var(--color-main);
    box-sizing:border-box;
    color:var(--color-sub);
    overflow:hidden;
    padding-bottom:var(--height);
}

.fcp-tile-team-member-image,
.fcp-tile-team-member-link,
.fcp-tile-team-member-content {
    position:absolute!important;
    top:0; right:0; bottom:0; left:0;
    z-index:0;
}
.fcp-tile-team-member-link {
    z-index:1;
}
.fcp-tile-team-member-image {
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg fill='none' stroke='%23b3b3b3' stroke-width='.5'%3E%3Ccircle r='3.7' cy='4.3' cx='8' /%3E%3Cpath d='m 10,9 c -1.5,0.7 -2.8,0.7 -4,0 -3,0 -4.3,2.1 -4.4,3.9 v 1.22 c 0,0.8 0.6,1.4 1.4,1.4 H 13 c 0.8,0 1.4,-0.6 1.4,-1.4 v -1.2 c 0,-1.8 -1.7,-3.9 -4.4,-3.94 z' /%3E%3C/g%3E%3C/svg%3E");
    background-size:32px;
    background-repeat:no-repeat;
    background-position:center;
}
.fcp-tile-team-member-image img {
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center top;
}

.fcp-tile-team-member-content {
    top:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:12px;
    box-sizing:border-box;
    background-color:var(--color-main);
    text-align:center;
}
.fcp-tile-team-member-content:empty {
    padding:0;
}
.fcp-tile-team-member-content * {
    text-decoration:none!important;
    font-size:var(--font-big);
    font-weight:100;
    color:var(--color-sub)!important;
}
.fcp-tile-team-member-content p {
    margin:20px 0 0!important;
    padding:0!important;
    font-size:var(--font-small);
}

/* effects */
a.fcp-tile-team-member-link {
    transition:background-color 0.4s ease;
}
a .fcp-tile-team-member-content {
    min-height:0;
    transition:min-height 0.4s ease, background-color 0.3s 0.1s ease;
}
a .fcp-tile-team-member-content:empty {
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg fill='%23b3b3b3' stroke='none'%3E%3Ccircle cy='3.25' cx='8' r='1.25' /%3E%3Ccircle r='1.25' cx='8' cy='7.75' /%3E%3Ccircle cy='12.25' cx='8' r='1.25' /%3E%3C/g%3E%3C/svg%3E");
    background-size:32px;
    background-repeat:no-repeat;
    background-position:center center;
}
a + .fcp-tile-team-member-image {
    transition:filter 0.5s ease;
}
a.fcp-tile-team-member-link:hover {
    background-color:var(--color-main);
    transition:background-color 0.5s 0.2s ease;
}
a.fcp-tile-team-member-link:hover .fcp-tile-team-member-content {
    min-height:100%;
    background-color:transparent;
    transition:min-height 0.55s ease-out, background-color 0.1s ease;
}
a.fcp-tile-team-member-link:hover + .fcp-tile-team-member-image {
    filter:blur(15px);
}

/* loading effects */
.fcp-tile-team-member {
    transition:opacity 0.7s ease-out, transform 0.6s ease-out;
}
.fcp-tile-team-member.fcp-tile-team-member_hidden {
    opacity:0;
    transform:translateY(150px);
    transition:none;
}