.popup-modal {
    --padding: 42px;
    --margin: 10px;
    --button-ending: url("data:image/svg+xml,%3Csvg width='21' height='13' viewBox='0 0 21 13' fill='none' version='1.1' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath d='M18.75 2.25L10.25 10.75L1.75 2.25' stroke='%23e6c18f' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    position: fixed;
    top: calc(50% - var(--margin));
    left: calc(50% - var(--margin));
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: calc(100% - (var(--margin) * 2));
    max-width: var(--wp--style--global--wide-size);
    max-height: calc(100% - (var(--margin) * 2));;
    margin: 0 var(--margin);
    padding: var(--padding);
    box-sizing: border-box;
    box-shadow: var(--wp--preset--shadow--common);
    z-index: 1000;
    overflow: auto;
    transition: opacity 0.2s ease-out, transform 0.3s ease-out;
}
@media ( max-width: 599px ) {
    .popup-modal {
        --padding: 22px;
        --margin: 2px;
    }
}

.popup-modal.hidden {
    opacity: 0;
    transform: translate(-50%, -40%);
}

.popup-modal .close-button {
    appearance: none;
    border: none;
    margin: 20px 0 0 -10px;
    min-width: 160px;
    padding: 10px 15px;
    box-sizing: border-box;
    background: var(--wp--preset--color--base);
    text-align: left;
    font-size: var(--wp--preset--font-size--small);
    color: var(--wp--preset--color--contrast);
    cursor: pointer;
}
.popup-modal .close-button::after {
    content: var(--button-ending);
    margin-left: 12px;
}

.popup-modal .close-x {
    appearance: none;
    border: none;
    padding: 15px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    background: none;
    cursor: pointer;
}
.popup-modal .close-x::after {
    content: var(--button-ending);
    margin-left: 12px;
}
.popup-modal-close-back {
    appearance: none;
    border: none;
    background-color: #fff9;
    position: fixed;
    inset: 0 0 0 0;
    z-index:999;
}