.fc-reis-excerpt-box-main {
    box-sizing: border-box;
}

.fc-reis-excerpt-box-main h2,
.fc-reis-excerpt-box-main h3,
.fc-reis-excerpt-box-main h4,
.fc-reis-excerpt-box-main h5,
.fc-reis-excerpt-box-main h6 {
    min-height: 75px;
}
.fc-reis-excerpt-box-main figure {
    margin-bottom: 35px;
}

.fc-reis-excerpt-box-button * {
    margin: 0 0 0 -12px !important;
    padding: 12px !important;
    background-color: transparent;
    color: #aaa;
    text-decoration: underline !important;
}
.fc-reis-excerpt-box-button:hover *,
.fc-reis-excerpt-box-button:focus *,
.fc-reis-excerpt-box-button *:focus {
    background-color: transparent;
    color: #888;
}

.fc-reis-excerpt-box-main *:first-child {
    margin-top: 0 !important;
}
.fc-reis-excerpt-box-main *:last-child {
    margin-bottom: 0 !important;
}

/* inside a column behavior */
.wp-block.block-core-columns [data-type='fc-gutenberg-blocks/reis-excerpt-box'],
.wp-block.block-core-columns .fc-reis-excerpt-box-main,
.wp-block.block-core-columns .fc-reis-excerpt-box-main .block-editor-inner-blocks,
.wp-block.block-core-columns .fc-reis-excerpt-box-main .block-editor-block-list__layout {
    height: 100%;
    box-sizing: border-box;
}
.wp-block.block-core-columns .fc-reis-excerpt-box-main .block-editor-block-list__layout {
    display: flex;
    flex-direction: column;
}
.wp-block.block-core-columns .fc-reis-excerpt-box-button {
    margin-top: auto;
}