.fc-doctolib-badge-big-main {
    background-color: #fff;
    border-radius: 16px;
}
.fc-doctolib-badge-big-main,
.fc-doctolib-badge-big-main * {
    box-sizing: border-box;
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    line-height: 1.7;
}
.fc-doctolib-badge-big-main header {
    margin-bottom: 24px;
    padding: 16px;
    border-radius: 15px 15px 0 0;
    position: relative;
    background-color: #107aca;
    box-shadow: 0px 5px 5px -1px #99999988;
}
.fc-doctolib-badge-big-main header::after {
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    left: 50%;
    bottom: 0;
    background-color: #107aca;
    transform: translate(-50%, 50%) rotate(45deg);
}
.fc-doctolib-badge-big-main header h2 {
    margin: 0;
    padding: 0;
    font-family: Montserrat, arial, sans-serif;
    font-weight: 700;
    color: #fff;
}

.fc-doctolib-badge-big-content > div {
    margin: 0 0 12px;
    border-bottom: 1px solid #dae0e7;
    padding: 16px 16px 16px 32px;
    position: relative;

}
.fc-doctolib-badge-big-content > div > p,
.fc-doctolib-badge-big-content > div > h3 {
    margin: 0;
    padding: 0;
    color: #2b4660;
}

.fc-doctolib-badge-big-termin::before,
.fc-doctolib-badge-big-address::before,
.fc-doctolib-badge-big-video::before {
    content: '';
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: absolute;
    left: -17px;
    top: 10px;
    background-color: #53af5f;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px auto;
    color: #fff;
}
.fc-doctolib-badge-big-termin::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' class='dl-icon mr-8 mt-4 dl-icon-xsmall' data-icon-name='regular/user' data-design-system='oxygen' data-design-system-component='Icon' data-darkreader-inline-fill='' style='--darkreader-inline-fill: currentColor;'%3E%3Cpath d='M9.125 9.125h-2.25A4.116 4.116 0 0 0 2.75 13.25c0 .422.328.75.75.75h9c.398 0 .75-.328.75-.75a4.131 4.131 0 0 0-4.125-4.125Zm-5.25 3.75a3.016 3.016 0 0 1 3-2.625h2.25a3.01 3.01 0 0 1 2.977 2.625H3.875ZM8 8c1.64 0 3-1.336 3-3 0-1.64-1.36-3-3-3-1.664 0-3 1.36-3 3 0 1.664 1.336 3 3 3Zm0-4.875A1.88 1.88 0 0 1 9.875 5 1.866 1.866 0 0 1 8 6.875 1.851 1.851 0 0 1 6.125 5c0-1.031.82-1.875 1.875-1.875Z'%3E%3C/path%3E%3C/svg%3E");
}
.fc-doctolib-badge-big-address::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' class='dl-icon mr-8 mt-4 dl-icon-xsmall' data-icon-name='regular/location-dot' data-design-system='oxygen' data-design-system-component='Icon'%3E%3Cpath d='M9.875 6.5A1.866 1.866 0 0 1 8 8.375 1.851 1.851 0 0 1 6.125 6.5c0-1.031.82-1.875 1.875-1.875A1.88 1.88 0 0 1 9.875 6.5ZM8 5.75a.755.755 0 0 0-.75.75c0 .422.328.75.75.75.398 0 .75-.328.75-.75A.771.771 0 0 0 8 5.75Zm4.5.75c0 2.063-2.742 5.695-3.96 7.219a.707.707 0 0 1-1.102 0C6.218 12.195 3.5 8.563 3.5 6.5 3.5 4.016 5.492 2 8 2c2.484 0 4.5 2.016 4.5 4.5ZM8 3.125A3.376 3.376 0 0 0 4.625 6.5c0 .305.094.75.352 1.36.234.562.585 1.218.984 1.874A35.858 35.858 0 0 0 8 12.594c.563-.75 1.336-1.781 2.016-2.86.398-.656.75-1.312.984-1.875.258-.609.375-1.054.375-1.359A3.391 3.391 0 0 0 8 3.125Z'%3E%3C/path%3E%3C/svg%3E");
}
.fc-doctolib-badge-big-video::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' class='dl-icon mr-8 mt-4 dl-icon-xsmall' data-icon-name='regular/video' data-design-system='oxygen' data-design-system-component='Icon'%3E%3Cpath d='M14.305 4.414a.87.87 0 0 0-.89-.07L11 5.445V5c0-.82-.68-1.5-1.5-1.5H2.75c-.844 0-1.5.68-1.5 1.5v6c0 .844.656 1.5 1.5 1.5H9.5c.82 0 1.5-.656 1.5-1.5v-.445l2.414 1.125c.117.047.258.093.375.093a.96.96 0 0 0 .516-.164.914.914 0 0 0 .445-.796V5.186a.905.905 0 0 0-.445-.773ZM9.875 11c0 .21-.188.375-.375.375H2.75A.37.37 0 0 1 2.375 11V5c0-.188.164-.375.375-.375H9.5c.188 0 .375.188.375.375v6Zm3.75-.469L11 9.336V6.687l2.625-1.195v5.04Z'%3E%3C/path%3E%3C/svg%3E");
}

.fc-doctolib-badge-big-book-button {
    border-bottom: none !important;
    padding-left: 16px !important;
}
.fc-doctolib-badge-big-book-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #53af5f;
    color: #fff;

}
.fc-doctolib-badge-big-book-button a::before {
    content: '';
    width: 18px;
    height: 18px;
    margin: -3px 8px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' class='dl-icon dl-button-left-icon dl-icon-xsmall' data-icon-name='regular/calendar-day' data-design-system='oxygen' data-design-system-component='Icon'%3E%3Cpath d='M7.625 8c.188 0 .375.188.375.375v2.25c0 .21-.188.375-.375.375h-2.25A.37.37 0 0 1 5 10.625v-2.25C5 8.187 5.164 8 5.375 8h2.25ZM5.75 2a.57.57 0 0 1 .563.563V3.5h3.375v-.938c0-.304.234-.562.562-.562a.57.57 0 0 1 .563.563V3.5h.937c.82 0 1.5.68 1.5 1.5v7.5c0 .844-.68 1.5-1.5 1.5h-7.5a1.48 1.48 0 0 1-1.5-1.5V5c0-.82.656-1.5 1.5-1.5h.938v-.938c0-.304.234-.562.562-.562Zm6.375 4.5h-8.25v6c0 .21.164.375.375.375h7.5a.385.385 0 0 0 .375-.375v-6Z'%3E%3C/path%3E%3C/svg%3E");
}
.fc-doctolib-badge-big-book-button a:hover {
    background-color: #469350;
}

/* for particular purpose of hno footer */
@media (min-width: 781px) {
    .fc-doctolib-badge-big-main.cunning-position {
        position: absolute;
        transform: translateY(-100%);
        min-width: 400px;
    }
}