.fc-reis-excerpt-box-main {
    position: relative;
    box-sizing: border-box;
}

.fc-reis-excerpt-box-main h2,
.fc-reis-excerpt-box-main h3,
.fc-reis-excerpt-box-main h4,
.fc-reis-excerpt-box-main h5,
.fc-reis-excerpt-box-main h6 {
    min-height: 80px;
}
.fc-reis-excerpt-box-main figure {
    margin-bottom: 35px;
}

.fc-reis-excerpt-box-button * {
    margin: 0 0 0 -12px !important;
    padding: 12px !important;
    background-color: transparent;
    color: #aaa !important;
    text-decoration: underline !important;
}
.fc-reis-excerpt-box-button:hover *,
.fc-reis-excerpt-box-button:focus *,
.fc-reis-excerpt-box-button *:focus {
    background-color: transparent;
    color: #888 !important;
}

.fc-reis-excerpt-box-main *:first-child {
    margin-top: 0 !important;
}
.fc-reis-excerpt-box-main *:last-child {
    margin-bottom: 0 !important;
}

/* inside a column behavior */
.wp-block-column .fc-reis-excerpt-box-main {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.wp-block-column .fc-reis-excerpt-box-button {
    margin-top: auto;
}

/* full-size-button */
.fc-reis-excerpt-box-button a::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    z-index:1;
    background-color: transparent;
    transition: background-color .2s ease-out;
}
.fc-reis-excerpt-box-button a:hover::before {
    background-color: #ffffff33;
}