.fc-snor-group-imaged-main {
    --left: 0%;
    --top: 0%;
    --size: 50%;
    --backgroundImage: none;
    position: relative;
}
.fc-snor-group-imaged-main > * {
    position: relative;
    z-index: 1;
}

.fc-snor-group-imaged-image {
    content: '';
    position: absolute;
    left: var(--left);
    top: var(--top);
    transform: translate(calc(0% - var(--left)), calc(0% - var(--top)));
    z-index: 0;
    width: var(--size);
    height: auto;
    max-height: 100%;
    border:1px dotted red;
    overflow: hidden;
}
.fc-snor-group-imaged-image img {
    width: 100%;
    height: auto;
}

.fc-snor-group-imaged-main *:first-child {
    margin-top: 0 !important;
}
.fc-snor-group-imaged-main *:last-child {
    margin-bottom: 0 !important;
}