.fct-images-decor-main {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-gap: 6%;
    padding-bottom: var(--bias);
    --sepia: 0%;
    --bias: 30px;
  }

.fct-images-decor-main figure {
    display:block;
    padding: 4px;
    box-sizing: border-box;
}

.fct-images-decor-main figure:nth-child(2n) {
    transform: translateY(var(--bias));
}

.fct-images-decor-main button.select {
    appearance: none;
    width: 100%;
    height: auto;
    padding-bottom: 60%;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    background-color: var(--wp--preset--color--tertiary);
}
.fct-images-decor-main button.select span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.fct-images-decor-main button.select img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    filter: sepia(var(--sepia));
}

.fct-images-decor-main button.clear {
    position: absolute;
    top: 10px;
    right: 10px;
    appearance: none;
    font-size: 20px;
    line-height: 1;
    border-radius: 50%;
    border: none;
    transform: rotate(45deg);
    cursor: pointer;
}
.fct-images-decor-main button.clear:hover {
    color: red;
}

.fct-images-decor-main  {
    cursor: text;
}
.fct-images-decor-main figcaption [data-rich-text-placeholder]::after {
    opacity: 0.3;
}