.fc-reis-author-box-main {
    padding: 30px 40px 30px 220px;
    box-sizing: border-box;
    position: relative;
}
.fc-reis-author-box-main.alignwide {
    max-width: 920px !important;
}
@media(max-width:991px) {
    .fc-reis-author-box-main.alignwide {
        max-width: 700px !important;
    }
}
.fc-reis-author-box-image {
    width: 240px;
    height: auto;
    min-height: 240px;
    position: absolute;
    left: -50px;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    text-align: center;
}

.fc-reis-author-box-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    box-shadow: -4px 6px 18px #00000040;
}

@media(max-width:767px) {
    .fc-reis-author-box-main {
        padding-left: 40px;
    }
    .fc-reis-author-box-image {
        display: block;
        width: 100%;
        margin:30px auto;
        position: static;
        transform: none;
    }
}


/* alt img position */
.fc-reis-author-box-main.fc-reis-author-box-image-right {
    padding: 30px 220px 30px 40px;
}

.fc-reis-author-box-main.fc-reis-author-box-image-right .fc-reis-author-box-image {
    left: auto;
    right: -50px;
}
@media(max-width:767px) {
    .fc-reis-author-box-main.fc-reis-author-box-image-right {
        padding-right: 40px;
    }
}


/* common */

.fc-reis-author-box-main *:first-child {
    margin-top: 0 !important;
}
.fc-reis-author-box-main *:last-child {
    margin-bottom: 0 !important;
}